<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pomodaro Demo</title>
    
</head>
<body>
    <h1 class="center">Pomodaro Timer</h1>
    
    <p class="center f-large" id="result">00:00:00</p>
    
    <div class="timer-controls flex justify-content-center">
        <button id='start'>Start</button>
        <button id='stop'>Stop</button>
        <button id='reset'>Reset</button>
        <button id='reset2'>Reset</button>
    </div>
    
</body>
</html>